<div class="row-fluid section-container">
	<div class="section-heading">
		<h3>Add Product or Service</h3>
	</div>
	<div class="row">
	<div class="span6">
		<div class="control-group string required">
			<label class="string required control-label" for="template_item_name">Name</label>
			<div class="controls template_item_name">
				<input type="text" class="string required" name="template_item[name]" size="30" value="">
			</div>
		</div>
		<div class="control-group string required">
			<label class="string required control-label" for="template_item_quantity">Quantity</label>
			<div class="controls template_item_quantity">
				<input type="text" class="string required" name="template_item[quantity]" size="10" value="">
			</div>
		</div>
		<div class="control-group string required">
			<label class="string required control-label" for="template_item_list_price">Unit Price</label>
			<div class="input-prepend">
				<span class="add-on">$</span>
				<input type="text" name="template_item[list_price]" id="template_item_list_price" class="numeric float optional input-small">
			</div>
		</div>
		<div class="control-group string required">
			<label class="string required control-label" for="template_item_name">Description</label>
			<div class="controls template_item_description">
				<input type="text" class="string required" name="template_item[description]" size="30" value="">
			</div>
		</div>
	</div>
	<div class="span1">
	</div>
	<div class="span5">
		<div class="controls template_item_group_heading">
			<input type="checkbox" value="true" name="template_item[is_group_heading]" id="template_item_is_group_heading">
			&nbsp;is group heading?
		</div>
		<div class="controls template_item_is_taxable">
			<input type="checkbox" value="true" name="template_item[is_taxable]" id="template_item_is_taxable">
			&nbsp;is taxable?
		</div>
		<div class="control-group string required">
			<label for="template_item_total" class="float optional control-label">Total</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on">$</span>
					<input type="text" name="template_item[total]" id="template_item_total" class="numeric float optional input-small">
				</div>
			</div>
		</div>
		<div class="controls template_item_not_in_total">
			<input type="checkbox" value="true" name="template_item[not_in_total]" id="template_item_not_in_total">
			&nbsp;do not include in total
		</div>
	</div>
	</div>
	<div id="template_item-add-product-actions" class="section-actions">
		<label>&nbsp;</label>
		<button type="submit" class="btn btn-success">
			<i class="icon-plus"></i>&nbsp;&nbsp;Add Item
		</button>
	</div>
</div>