<% provide(:title, "Update Catalog Item") %>

<h1>Update Catalog Item</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(@catalog_item) do |f| %>
			<%= render 'fields', f: f %>
			
			<%= f.submit "Update catalog item", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>