<% provide(:title, "Catalog Items") %>

<% @catalog_items.each do |item| %>
	<li><%= item.name %> - $<%= item.list_price %></li>
<% end %>
<div>
	<%= link_to 'Add catalog item', new_catalog_item_path %>
</div>