<% provide(:title, 'Dashboard') %>
<div class="span10">
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %> fade in">
	      <a class="close" data-dismiss="alert" href="#">&times;</a>
	      <%= value %>
	    </div>
	<% end %>
	<h1>Dashboard#index</h1>
	<%= current_user.account.name %>
</div>
