<!DOCTYPE html>
<html>
  <head>
    <!--Load the AJAX API-->
	<style type="text/css" >
		body {
			background: #2d3035;
			margin:0;
			padding:0;
		}
	</style>
  </head>
  <body>
    <!--Div that will hold the pie chart-->
   <img src="assets/bridge_comp.png">
  </body>
</html>