@import "variables";
@import "mixins";


.contacts_list{
	max-height:500px;
	overflow:auto;
}

#contacts ul{
	margin:0 0 0 0;
	
}
#contacts li{
	list-style:none;
	padding: 5px;
	border-top: 1px solid $ss_lightGray;
}

#contacts .contact_type{
	font-size:30px;
	position:relative;
	top:5px;
}

#contacts .section-heading{
	background: $ss_grayMediumLight;
	margin-bottom:0px;
	padding: 5px;
	font-weight: bold;
	border-top: 1px solid $ss_lightGray;
}

#contacts .section-heading a{
	font-size:24px;
	font-weight:bold;
}

#contacts .section-heading hr{
	margin-top:0px;
	margin-bottom: 0px;
}

.row_selected{
	background: $ss_nearWhite;
}






#contact ul{
	margin:0;
}

#contact li{
	list-style:none;
	padding: 2px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;	
}

#contact .contact_icon{
	font-size: 50px;
	text-align: right;
	padding-right: 20px;
	display:block;
}

#contact input{
	margin-bottom: 2px;
}

.contact_method_name{
	color: $ss_mediumGray;
	padding-right: 5px;
}

.contact_method_edit input[type="text"]{
  margin-bottom: 0px;
}

.contact_method_add input[type="text"]{
  margin-top: 4px;
  border: 1px solid $ss_lightGray;
}

.contact_addresses .contact_method_add .contact_method_address{
  padding-top: 4px;
}

.contact_addresses .contact_method_add .contact_method_address input[type="text"]{
  margin-top: 0px;
}

.contact_method_edit .icon-remove{
  top:4px;
  position:relative;
}

.contact_method_add .icon-ok{
  top:8px;
  position:relative;
}


.contact_method_edit .contact_method_name input, .contact_method_add .contact_method_name input{
	text-align:right;
}

.contact_show span.placeholder{
  color: $ss_mediumGray;
}

.contact_show_name{
	font-size:18px;
}

.contact_method_edit .contact_method_address input, .contact_method_add .contact_method_address input{
	margin-bottom: 2px;
}

.contact_method_add tr{
	
}



