/* mixins, variables, etc. */
@import "variables";
@import "mixins";


.icon-button{
	color: $ss_mediumGray;
	cursor: pointer;
}

.icon-button:hover{
	color: $ss_darkGray;
}

li.document_item_group_heading .icon-button{
	color: $ss_mediumGray;
	cursor: pointer;
}

li.document_item_group_heading .icon-button:hover{
	color: $ss_lightGray;
}

.icon-sort-up{
	position: relative;
	top: 3px;
}

.icon-sort-down{
	position: relative;
	top: -2px;
}

#items_container td{
	@include box_sizing;
	padding:3px 3px 0px 0px;
}

#items_container th{
	@include box_sizing;
	padding:0px 8px 5px 8px;
}

th.align-right, td.align-right, input[type="text"].align-right{
  text-align: right;
}

.document_item_holder{
  @include box_sizing;
  border: 1px solid transparent;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 5px;
  width: 100%;
}

input[type="text"].document_item_shim, .document-items-rows input[type="text"].document_item_shim{
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  height: 1px;
  width: 1px;
  left: -9999px;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
}

input[type="text"].document_item_shim:hover, .document-items-rows input[type="text"].document_item_shim:hover{
  border: none;
}

.document_item_description_holder:empty{
  padding: 0;
  border: none;
}


.document_item_drag_highlight{
	background: $ss_lightGray;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
	color: $ss_darkGray;
	margin-bottom: 0px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	min-height:40px;
}

.document-items-heading .table{
	margin-bottom:0px;
}

.document-items-rows input[type="text"], .document-items-rows textarea, .document-items-rows select{
  border: 1px solid $ss_nearWhite;
  margin-bottom: 0px;
  @include no-inner-shadow();
  @include box_sizing;
  background:none;
}

.document-items-rows textarea, .document-items-new textarea{
  margin-bottom:3px;
}

li.document_item_group_heading tr:hover{
  background:$ss_darkGray;
}

.document_item_group_heading{
	background: $ss_darkGray;
	color: $ss_nearWhite;
}

.document_item_group_heading .document-item-row-package-contents{
	color: $ss_nearWhite;
}

.document-items-new .document_item_group_heading .document-item-row-package-contents li, .document-items-rows .document_item_group_heading .document-item-row-package-contents li{
	color: $ss_nearWhite;
}

.document-items-new .document-item-row-package-contents{
	margin-top: 3px;
}

.document-items-rows .document_item_group_heading input[type="text"], .document-items-rows .document_item_group_heading textarea, .document-items-rows .document_item_group_heading select{
	color: $ss_nearWhite;
}

.document-items-new input[type="text"], .document-items-new textarea, .document-items-new select{
  border: 1px solid $ss_lightGray;
  margin-bottom: 0px;
  @include no-inner-shadow();
  @include box_sizing;
}


.document-items-new .document_item_group_heading input[type="text"], .document-items-new .document_item_group_heading textarea, .document-items-new .document_item_group_heading select{
  	background: $ss_darkGray;
    color: $ss_nearWhite;
	border: 1px solid $ss_mediumGray;
}

.document-items-rows .document_item_group_heading input[type="text"], .document-items-rows .document_item_group_heading textarea, .document-items-rows .document_item_group_heading select{
  	background: $ss_darkGray;
    color: $ss_nearWhite;
	border: 1px solid $ss_mediumGray;
}

.document-items-new .document_item_name_holder, .document-items-new .document_item_part_number_holder{
  border: 1px solid $ss_lightGray;
  margin-bottom: 0px;
  padding: 4px 5px 4px 6px;
  font-size: 14px;
  min-height:20px;
  background:#fff;
}

.document-items-rows input[type="text"]:hover, .document-items-rows textarea:hover, .document-items-rows select:hover, .document-items-new input[type="text"]:hover, .document-items-new textarea:hover{
  border: 1px solid $ss_lightGray;
}

div.document_item_checkboxes{
  border: 1px solid transparent;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}

div.document_item_checkboxes:hover{
  border: 1px solid transparent;
}

.document-items-rows tr:hover{
  background:#fff;
}

.ui-state-highlight { 
  height: 1.5em; 
  line-height: 1.2em; 
}

.document-items-rows ul, .document-items-new ul { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

.document-items-rows li, .document-items-new li { 
  border-bottom:1px solid $ss_nearWhite;
}

.document-items-new li { 
  padding-bottom: 4px;
}

.document-item-row-package-contents{
	border-top: 1px dashed $ss_nearWhite;
}

.document-item-row-package-contents li{
	border-bottom:0px solid $ss_nearWhite;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: $ss_darkGray;
}

.hide_package_contents li td{
	color: $ss_nearWhite;
}

.document-items-new {
  border-top: 1px solid $ss_lightGray;
  background: $ss_nearWhite;
}

.document-items-rows li input[type="checkbox"], .document-items-new li input[type="checkbox"]{ 
  margin-top: -4px;
}

.document-item-row-description tr, .document-item-row-description td{
	padding:0px;
	margin:0px;
}
