/* mixins, variables, etc. */
@import "variables";
@import "mixins";

.template-items-heading .table{
	margin-bottom:0px;
}

.template-items-rows input[type="text"], .template-items-rows textarea{
  border: 1px solid transparent;
  margin-bottom: 0px;
  @include no-inner-shadow();
  background:none;
}

li.template_item_group_heading tr:hover{
  background:$ss_lightGray;
}

.template_item_group_heading{
	background: $ss_lightGray;
}

.template_item_name_holder, .template_item_part_number_holder, .template_item_description_holder{
  border: 1px solid transparent;
  margin-bottom: 0px;
  padding: 4px 5px 4px 6px;
  font-size: 14px;
  min-height:20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.template-items-new input[type="text"], .template-items-new textarea{
  border: 1px solid $ss_lightGray;
  margin-bottom: 0px;
  @include no-inner-shadow();
}

.template-items-new .template_item_name_holder, .template-items-new .template_item_part_number_holder, .template-items-new .template_item_description_holder{
  border: 1px solid $ss_lightGray;
  margin-bottom: 0px;
  padding: 4px 5px 4px 6px;
  font-size: 14px;
  min-height:20px;
  background:#fff;
}

.template-items-rows input[type="text"]:hover, .template-items-rows textarea:hover, .template-items-rows div:hover, .template-items-new input[type="text"]:hover, .template-items-new textarea:hover{
  border: 1px solid $ss_lightGray;
}

div.template_item_checkboxes{
  border: 1px solid transparent;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}

div.template_item_checkboxes:hover{
  border: 1px solid transparent;
}

.template-items-rows tr:hover{
  background:#fff;
}

.ui-state-highlight { 
  height: 1.5em; 
  line-height: 1.2em; 
}

.template-items-rows ul, .template-items-new ul { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

.template-items-rows li, .template-items-new li { 
  border-bottom:1px solid $ss_nearWhite;
}

.template-item-row-package-contents{
	border-top: 1px dashed $ss_nearWhite;
}

.template-item-row-package-contents li{
	border-bottom:0px solid $ss_nearWhite;
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: $ss_mediumGray;
}

.hide_package_contents{
	visibility:collapse;
}

.template-items-new {
  border-top: 1px solid $ss_lightGray;
  background: $ss_nearWhite;
}

.template-items-rows li input[type="checkbox"], .template-items-new li input[type="checkbox"]{ 
  margin-top: -4px;
}

.template-item-row-description tr, .template-item-row-description td{
	padding:0px;
	margin:0px;
}

.template-item-row-description div{
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin:5px;
	padding:5px;
	border:1px solid transparent;
}

.template-item-row-description div.no_description{
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin:0px;
	padding:0px;
	border:1px solid transparent;
}