<table class="" width="100%" cellspacing="0" cellpadding="0">
<tr>
<td width="3%">
		
</td>
<td width="3%" align="right">
		
</td>
<td width="29%">
	-&nbsp;
	{{catalog_item.name}}
</td>
<td width="12%">
	{{catalog_item.part_number}}
</td>
<td width="5%">
	{{catalog_item.quantity}}
</td>
<td width="12%">
	
</td>
<td width="8%">
	
</td>
<td width="12%">
	
</td>
<td width="8%">
	
</td>
<td width="8%">
	
</td>
</tr>
</table>