<div class="row-fluid">
<div class="span6">
	<%= f.input :name, :label => "Name", :input_html => {:size => 30} %>
	<%= f.input :description, :label => "Description", :input_html => {:rows => 4} %>
</div>
</div>