<table class="table table-condensed table-plain">
	<thead>
		<tr>
			<th  colspan="2">Catalog items matching your search:</th>
		</tr>
	</thead>
	<tbody id="catalog_search_results">
	</tbody>
</table>