<td>
	<i class="icon-sort-down"></i>
</td>
<td>
	<span class="label label-success">part</span>
</td>
<td>
	{{catalog_item.part_number}}
</td>
<td>
	<a href="/catalog_items/{{catalog_item.pub_key}}">{{catalog_item.name}}</a>
</td>
<td>
	{{catalog_item.list_price}}
</td>
<td>
<button class="btn btn-mini btn-danger catalog_item_remove">
  <i class="icon-remove"></i>
</button>
</td>