<div class="row-fluid section-container">
	<div class="span6">
		<div class="section-heading">
			<h3>Search Catalog</h3>
		</div>
		<div class="controls add_child_item_search" id="add_child_item_search">
			<label class="string control-label" for="catalog_search">Name or Part Number</label>
			<div class="control-group string">
				<div class="controls catalog_search">
					<div class="input-append input-search">
						<input type="text" class="string input-large" name="catalog_search" size="20" value="">
						<span class="add-on">
							<button class="btn btn-primary" id="catalog_search">
								<i class="icon-search"></i>&nbsp;
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="span7" id="catalog_search_container"></div>
	</div>
	<div class="content-column-divider">
		<div class="label-container">
			<span>OR</span>
		</div>
	</div>
	<div class="span5">
		<div class="section-heading">
			<h3>Create a New Catalog Item</h3>
		</div>
		<div class="control-group string required">
			<label class="string required control-label" for="catalog_item_name">Name</label>
			<div class="controls catalog_item_name">
				<input type="text" class="string required" name="catalog_item[name]" size="30" value="">
			</div>
		</div>
		<div class="control-group string required">
			<div class="row">
				<div class="span6">
					<label class="string control-label" for="catalog_item_part_number">Part Number</label>
					<div class="controls catalog_item_part_number">
						<input type="text" class="string input-large" name="catalog_item[part_number]" size="30" value="">
					</div>
				</div>
				<div class="span6">
					<label class="string control-label" for="catalog_item_manufacturer">Manufacturer</label>
					<div class="controls catalog_item_manufacturer">
						<input type="text" size="30" name="catalog_item[manufacturer]" id="catalog_item_manufacturer" class="string input-large" autocomplete="off">
					</div>
				</div>
			</div>
		</div>
		<div class="control-group float optional">
			<label for="catalog_item_list_price" class="float optional control-label">List price</label>
			<div class="controls">
				<div class="input-prepend">
					<span class="add-on">$</span>
					<input type="text" name="catalog_item[list_price]" id="catalog_item_list_price" class="numeric float optional input-small">
					<select name="catalog_item[recurring_unit]" label="false" id="catalog_item_recurring_unit" class="select optional input-medium">
					<option value=""></option>
					<option data-key="recurring_unit" value="per hour">per hour</option>
					<option data-key="recurring_unit" value="per day">per day</option>
					<option data-key="recurring_unit" value="per week">per week</option>
					<option data-key="recurring_unit" value="per month">per month</option>
					<option data-key="recurring_unit" value="per quarter">per quarter</option>
					<option data-key="recurring_unit" value="per year">per year</option></select>
				</div>
			</div>
		</div>
		<div class="control-group">
			<div class="controls catalog_item_is_taxable">
				<input type="checkbox" value="true" name="catalog_item[is_taxable]" id="catalog_item_is_taxable">
				&nbsp;is taxable?
			</div>
		</div>
		<div class="control-group">
			<div class="controls catalog_item_is_package">
				<input type="checkbox" value="true" name="catalog_item[is_package]" id="catalog_item_is_package">
				&nbsp;is package? (contains other catalog items)
			</div>
		</div>
		<div id="catalog_item-add-new-child-item-actions" class="section-actions">
			<label>&nbsp;</label>
			<button type="submit" class="btn btn-success">
				<i class="icon-plus"></i>&nbsp;&nbsp;Add Item
			</button>
		</div>
	</div>
</div>