<td>
	<a href="/catalog/{{catalog_item_child_item.pub_key}}">{{catalog_item_child_item.name}}</a>
</td>
<td>
	<a href="/catalog/{{catalog_item_child_item.pub_key}}">{{catalog_item_child_item.name}}</a>
</td>
<td>
</td>
<td>
</td>
<td><button class="btn btn-mini btn-danger child_item_remove">
  <i class="icon-remove"></i>
</button>
</td>