<div class="row-fluid section-container">
	<div class="section-heading">
		<h3>Add Item</h3>
	</div>
	<div class="row">
		<div class="span7">
			<div class="control-group string required">
				<div class="row">
					<div class="span8 required">
						<label class="string required control-label" for="template_item_name">Name</label>
						<div class="controls template_item_name">
							<input type="text" class="string required" id="template_item_name" name="template_item[name]" size="30" value="">
						</div>
					</div>
					<div class="span4">
						<div class="controls template_item_group_heading">
							<label class="string control-label" for="template_item_is_group_heading">&nbsp;</label>
							&nbsp;&nbsp;<input type="checkbox" value="true" name="template_item[is_group_heading]" id="template_item_is_group_heading">
							&nbsp;group heading?
						</div>
					</div>
				</div>
			</div>
			<div class="control-group string required">
				<div class="row">
					<div class="span2">
						<label class="string control-label" for="template_item_quantity">Quantity</label>
						<div class="controls template_item_quantity">
							<span class="add-on"></span>
							<input type="text" class="string required input-mini" name="template_item[quantity]" size="10" value="">
						</div>
					</div>
					<div class="span1">
						<label class="string control-label">&nbsp;</label>
						<span class="">x</span>
					</div>
					<div class="span3">
						<label class="string control-label" for="template_item_list_price">Unit Price</label>
						<div class="input-prepend">
							<span class="add-on">$</span>
							<input type="text" name="template_item[list_price]" id="template_item_list_price" class="numeric float optional input-small">
							<span id="template_item_list_price_interval" class="">&nbsp;/hour</span>
						</div>
					</div>
					<div class="span1">
						<label class="string control-label">&nbsp;</label>
						<span class="">=</span>
					</div>
					<div class="span2">
						<label for="template_item_total" class="float optional control-label">Total</label>
						<div class="controls">
							<div class="input-prepend">
								<span class="add-on">$</span>
								<input type="text" name="template_item[total]" id="template_item_total" class="numeric float optional">
							</div>
						</div>
					</div>
					<div class="span4">
						<div class="controls template_item_not_in_total">
							<label class="string control-label" for="template_item_not_in_total">&nbsp;</label>
							&nbsp;&nbsp;<input type="checkbox" value="true" name="template_item[not_in_total]" id="template_item_not_in_total">
							&nbsp;do not include in total
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span5">
			<label class="string control-label" for="template_item_name">Description/Notes</label>
			<div class="controls template_item_description">
				<textarea  class="string required" name="template_item[description]" cols="30" rows="5" value=""></textarea>
			</div>
		</div>
	</div>
</div>
<input type="hidden" name="template_item[catalog_item_key]" id="template_item_catalog_item_key">