<table class="table table-condensed table-plain">
	<thead>
		<tr>
			<th  colspan="2">Contacts that have not been added to this opportunity</th>
		</tr>
	</thead>
	<tbody id="company_contacts">
	</tbody>
</table>