<div class="control-group val">
	<div class="controls contact_method_remove btn btn-mini btn-danger">
		<i class="icon-minus"></i>
	</div>
	<span class="controls contact_method_name">
		<input type="text" class="input-small" name="contact_email[name]" value="{{contact_email.name}}" placeholder="email">
	</span>
	<span class="controls contact_method_val">
		<input type="text" class="input-medium" name="contact_email[val]" value="{{contact_email.val}}" placeholder="Email Address">
	</span>
</div>