<div class="control-group val">
	<span class="controls contact_method_name">
		<input type="text" class="input-small" name="emails[][name]" value="{{contact_email.name}}" placeholder="Mobile">
	</span>
	<span class="controls contact_method_val">
		<input type="text" class="input-medium" name="emails[][val]" value="{{contact_email.val}}" placeholder="111-111-1111">
	</span>
	<span class="controls contact_method_remove btn btn-mini btn-danger">
		<i class="icon-minus"></i>
	</span>
	<input type="hidden" class="input-small" name="emails[][pub_key]" value="{{contact_email.pub_key}}">
</div>