<div class="control-group val">
	<div class="controls contact_method_remove btn btn-mini btn-danger">
		<i class="icon-minus"></i>
	</div>
	<span class="controls contact_method_name">
		<input type="text" class="input-small" name="contact_url[name]" value="{{contact_url.name}}" placeholder="website">
	</span>
	<span class="controls contact_method_val">
		<input type="text" class="input-medium" name="contact_url[val]" value="{{contact_url.val}}" placeholder="Website">
	</span>
</div>