<div class="row-fluid section-container">
	<div class="section-heading">
		<h3>Add Email Number</h3>
	</div>
	<div class="control-group string required">
		<label class="string required control-label" for="email_name">Description</label>
		<div class="controls email_name">
			<input type="text" class="string required input-large" name="email[name]" size="30" value="">
		</div>
	</div>
	<div class="control-group string required">
		<label class="string required control-label" for="email_val">Number</label>
		<div class="controls email_val">
			<input type="text" class="string required input-large" name="email[val]" size="30" value="">
		</div>
	</div>
	<div id="contact-add-new-email-actions" class="section-actions actions-bar-left">
		<button type="button" class="btn btn-success">
			<i class="icon-plus"></i>&nbsp;&nbsp;Add
		</button>
	</div>
</div>