<div class="contact_method_add" style="display:none;">
	<table width="100%">
		<tr>
			<td valign="top" class="span1">	
			</td>
			<td align="right" class="span2 contact_method_name">
				<input type="text" class="" name="urls[][name]" value="" placeholder="Website">
			</td>
			<td class="span6">
				<input type="text" class="" name="urls[][val]" value="" placeholder="www.company.com">
			</td>
			<td valign="top" class="span1" align="right">
				<i class="icon-ok"></i>
			</td>
			<td>
			</td>
		</tr>
	</table>
</div>
<input type="hidden" class="input-small" name="urls[][pub_key]" value="">