<div class="contact_method_add" style="display:none;">
	<table width="100%">
		<tr>
			<td valign="top" class="span1">	
			</td>
			<td align="right" class="span2 contact_method_name">
				<input type="text" class="" name="phones[][name]" value="" placeholder="Mobile">
			</td>
			<td class="span6">
				<input type="text" class="" name="phones[][val]" value="" placeholder="111-111-1111">
			</td>
			<td valign="top" class="span1" align="right">
				<i class="icon-ok"></i>
			</td>
			<td>
			</td>
		</tr>
	</table>
</div>
<input type="hidden" class="input-small" name="phones[][pub_key]" value="">