<div class="control-group radio_buttons required">
	<label class="radio_buttons required control-label"></label>
	<div class="controls" id="contact_types">
	</div>
</div>
<div class="control-group name required">
	<div class="controls contact_name">
		{{contact.name}}
	</div>
</div>
<div class="control-group">
	<div class="controls contact_title">
		{{contact.title}}
	</div>
</div>
<div class="control-group">
	<div class="controls company_name">
		{{contact.company.name}}
	</div>
</div>
<br>
<div id="contact_phones">
</div>
<br>
<div id="contact_emails">
</div>
<br>
<div id="contact_urls">
</div>
<br>
<div id="contact_addresses">
</div>