<td>
	
</td>
<td>
	<a href="/templates/{{template.pub_key}}">{{template.name}}</a>
</td>
<td>
	<a href="/templates/{{template.pub_key}}">{{template.description}}</a>
</td>
<td>
<i class="icon-remove"></i>
</td>