<div>
	<table cellpadding="5px" cellspacing="0" border="0" width="100%">
		<thead>
			<tr>
				<th width="50%" align="left">Item</th>
				<th width="15%" align="left">Part #</th>
				<th width="7%" align="left">Qty</th>
				<th width="12%" align="right">Total</th>
				<th width="16%">&nbsp;</th>
			</tr>
		</thead>
	</table>
</div>
<div class="template_items_rows">
	<ul>
	</ul>
</div>