<li>
<table class="" width="100%" cellpadding="5px">
<tr>
<td width="3%">
</td>
<td width="3%">
	<i class="icon-sort-down" style="display:none" />
	<i class="icon-sort-up" style="display:none" />
</td>
<td width="28%">
	<div class="template_item_name_holder">{{template_item.name}}</div>
	<input type="text" name="template_item[name]" value="" class="template_item_name" style="display:none">
</td>
<td width="12%">
	<div class="template_item_part_number_holder">{{template_item.part_number}}</div>
	<input type="text" name="template_item[part_number]" value="" class="template_item_part_number" style="display:none">
</td>
<td width="5%">
	<input type="text" name="template_item[quantity]" value="1" class="template_item_quantity">
</td>
<td width="20%">
	<input type="text" name="template_item[unit_price]" value="" class="template_item_unit_price">
</td>
<td width="20%">
	<input type="text" name="template_item[total]" value="" class="template_item_total">
</td>
<td width="8%">
	<i class="icon-cog"></i>
 	<i class="icon-ok"></i>
	<i class="icon-spinner" style="display:none"></i>
</td>
</tr>
<tr class="template-item-row-details" style="display:none">
	<td colspan="2"></td>
	<td colspan="4" valign="top">
		<div class="template_item_description_holder">{{template_item.description}}</div>
		<textarea  class="template_item_description" name="template_item[description]" cols="30" rows="3" value="" style="display:none"></textarea>
	</td>
	<td colspan="2" valign="top">
		<div class="template_item_checkboxes">
			<input type="checkbox" value="true" name="template_item[is_group_heading]" class="template_item_is_group_heading">
			&nbsp;display as group heading
		</div>
		<div class="template_item_checkboxes">
			<input type="checkbox" value="true" name="template_item[not_in_total]" class="template_item_not_in_total">
			&nbsp;do not include in total
		</div>
	</td>
</tr>
<tr class="template-item-row-package-contents" style="display:none">
	<td colspan="2">
	</td>
	<td colspan="6">
		This is all the stuff in this package
	</td>
</tr>
</table>
<input type="hidden" name="template_item[catalog_item_key]" value="{{template_item.catalog_item_key}}" class="template_item_catalog_item_key">