<li>
<table class="" width="100%" cellpadding="5px">
<tr>
<td width="3%">
</td>
<td width="3%">
	<i class="icon-sort-down" style="display:none" />
</td>
<td width="28%">
	<input type="text" name="template_item[name]" value="" placeholder="item name" class="template_item_name">
</td>
<td width="12%">
	<input type="text" name="template_item[part_number]" value="" placeholder="part number" class="template_item_part_number">
</td>
<td width="3%">
	<input type="text" name="template_item[quantity]" value="1" placeholder="" class="template_item_quantity">
</td>
<td width="20%">
	<input type="text" name="template_item[unit_price]" value="" placeholder="unit price" class="template_item_unit_price">
</td>
<td width="20%">
	<input type="text" name="template_item[total]" value="" placeholder="total" class="template_item_total">
</td>
<td width="10%">
	<i class="icon-cog"></i>
 	<i class="icon-ok"></i>
	<i class="icon-spinner" style="display:none"></i>
</td>
</tr>
<tr class="template-item-row-details" style="display:none">
	<td colspan="2"></td>
	<td colspan="4">
		<textarea  class="template_item_description" name="template_item[description]" cols="30" rows="3" value="" placeholder="description"></textarea>
	</td>
	<td colspan="2" valign="top">
		<div>
			<input type="checkbox" value="true" name="template_item[is_group_heading]" id="template_item_is_group_heading">
			&nbsp;display as group heading
		</div>
		<div>
			<input type="checkbox" value="true" name="template_item[not_in_total]" id="template_item_not_in_total">
			&nbsp;do not include in total
		</div>
	</td>
</tr>
<tr class="template-item-row-package-contents" style="display:none">
	<td colspan="2">
	</td>
	<td colspan="6">
		This is all the stuff in this package
	</td>
</tr>
</table>
<input type="hidden" name="template_item[catalog_item_key]" value="{{template_item.catalog_item_key}}" class="template_item_catalog_item_key">