<table class="" width="100%" cellpadding="5px">
<tr>
<td width="3%">
		
</td>
<td width="3%" align="right">
	<i class="icon-minus" />	
</td>
<td width="28%">
	{{catalog_item.name}}
</td>
<td width="12%">
	{{catalog_item.part_number}}
</td>
<td width="5%">
	{{catalog_item.quantity}}
</td>
<td width="20%">
	
</td>
<td width="20%">
	
</td>
<td width="8%">
	
</td>
</tr>
</table>