<% if f.error_notification %>
	<div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= f.error_notification %>
    </div>
<% end %>
<%= f.input :contact_type_key, :label => '', :collection => @contact_types.reverse.map{|a| [a.name, a.pub_key]}, :as => :radio_buttons, :item_wrapper_class => 'inline', :checked => @contact_types.last.pub_key %>
<%= f.input :name %>
