<% provide(:title, "Update Contact")%>
<div class="span10">
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %> fade in">
	      <a class="close" data-dismiss="alert" href="#">&times;</a>
	      <%= value %>
	    </div>
	<% end %>
	<div id="contact">
	</div>
	<br>
	<div id="contact_phones">
	</div>
	<br>
	<div id="contact_emails">
	</div>
	<br>
	<div id="contact_urls">
	</div>
	<br>
	<div id="contact_addresses">
	</div>
</div>