<% content_for :css, (stylesheet_link_tag "application/pages/contacts", :media => "all") %>



<% provide(:title, 'Contacts') %>
<% @nav_caret = "contacts" %>

<div class="body">
	<div class="body-right pull-right">
		<div class="action-buttons-container">
			<%= link_to raw("<i class=""icon-plus""></i>&nbsp;&nbsp;Add a new contact"), new_contact_path, :class => 'btn btn-primary' %>
		</div>
	</div>
	<div class="body-left">
		<div class="">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %> fade in">
			      <a class="close" data-dismiss="alert" href="#">&times;</a>
			      <%= value %>
			    </div>
			<% end %>
		</div>
		<div class="page-title-container">
			<div class="page-title">
				Contacts
			</div>
		</div>
		<div class="parent-page">
			<div id="main_body_container" class="">
				<div id="contacts" class="section-content">
					<div class="nav-link-bar">
						<ul class="breadcrumb">
							<li><a href="#A">A</a></li>
							<li><a href="#B">B</a></li>
							<li><a href="#C">C</a></li>
							<li><a href="#D">D</a></li>
							<li><a href="#E">E</a></li>
							<li><a href="#F">F</a></li>
							<li><a href="#G">G</a></li>
							<li><a href="#H">H</a></li>
							<li><a href="#I">I</a></li>
							<li><a href="#J">J</a></li>
							<li><a href="#K">K</a></li>
							<li><a href="#L">L</a></li>
							<li><a href="#M">M</a></li>
							<li><a href="#N">N</a></li>
							<li><a href="#O">O</a></li>
							<li><a href="#P">P</a></li>
							<li><a href="#Q">Q</a></li>
							<li><a href="#R">R</a></li>
							<li><a href="#S">S</a></li>
							<li><a href="#T">T</a></li>
							<li><a href="#U">U</a></li>
							<li><a href="#V">V</a></li>
							<li><a href="#W">W</a></li>
							<li><a href="#X">X</a></li>
							<li><a href="#Y">Y</a></li>
							<li><a href="#Z">Z</a></li>
							<li><a href="#1">#</a></li>
						</ul>
					</div>
					<div>
						<div class="section-heading">
							<a name="A">A</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>	
					<div>
						<div class="section-heading">
							<a name="B">B</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="C">C</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="D">D</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="E">E</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="F">F</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="G">G</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="H">H</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="I">I</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="J">J</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="K">K</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="L">L</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="M">M</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="N">N</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="O">O</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="P">P</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="Q">Q</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="R">R</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="S">S</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="T">T</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="U">U</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="V">V</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="W">W</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="X">X</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="Y">Y</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="Z">Z</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
					<div>
						<div class="section-heading">
							<a name="1">#</a>
							<hr size="0">
						</div>
						<div>
							<ul>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script language="javascript">
	$(function(){
		// Quota.init();
		this.contact_types = new Quota.Collections.ContactTypes(gon.contact_types);
		this.contacts = new Quota.Collections.Contacts($.parseJSON(gon.contacts));
	
		window.vent = _.extend({}, Backbone.Events);
			
		var view_page = new Quota.Views.PageListContacts({contacts: this.contacts, contact_types: this.contact_types, vent: vent});
		$('#page').html(view_page.render().el);
	});	
	
	$('input, textarea').placeholder();
</script>