#contacts ul{
	margin:0;
}
#contacts li{
	list-style:none;
}

#contacts .contact_type{
	font-size:30px;
	position:relative;
	top:5px;
}

#contacts .section-heading{
	margin-top:30px;
}

#contacts .section-heading a{
	font-size:24px;
	font-weight:bold;
}

#contacts .section-heading hr{
	margin-top:0px;
}