<% provide(:title, "Opportunities") %>
<% @nav_caret = "opportunities" %>

<% content_for :css do %>
<% end %>


<div class="body">
	<div class="body-right pull-right">
		<div class="action-buttons-container">
			<%= link_to raw("<i class=""icon-plus""></i>&nbsp;&nbsp;Create a new opportunity"), new_opportunity_path, :class => 'btn btn-primary' %>
		</div>
	</div>
	<div class="body-left">
		<div class="">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %> fade in">
			      <a class="close" data-dismiss="alert" href="#">&times;</a>
			      <%= value %>
			    </div>
			<% end %>
		</div>
		<div class="page-title-container">
			<div class="page-title">
				Opportunities
			</div>
		</div>
		<div class="parent-page">
			<div id="main_body">
				<div id="opportunities_container">
					<div class="section-table">
						<table class="table table-condensed table-plain">
							<thead class="opportunitites-heading">
								<tr>
									<th width="8%">Milestone</th>
									<th width="8%">Added</th>
									<th width="40%">Opportunity/Company</th>
									<th width="40%">Activity/Owner</th>
									<th width="4%">&nbsp;</th>
								</tr>
							</thead>
							<tbody class="opportunities-rows">
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script language="javascript">
	$(function(){
		var view_page = new Quota.Views.PageIndexOpportunities({opportunities: new Quota.Collections.Opportunities($.parseJSON(gon.opportunities)), vent: Quota.vent});
		view_page.render()
	});	
	
	$('input, textarea').placeholder();
</script>