<% provide(:title, "Opportunities") %>
<% @nav_caret = "opportunities" %>
<div class="body">
	<div class="body-right pull-right">
		<div class="action-buttons-container">
			<%= link_to raw("<i class=""icon-plus""></i>&nbsp;&nbsp;Create a new opportunity"), new_opportunity_path, :class => 'btn btn-primary' %>
		</div>
	</div>
	<div class="body-left">
		<div class="">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %> fade in">
			      <a class="close" data-dismiss="alert" href="#">&times;</a>
			      <%= value %>
			    </div>
			<% end %>
		</div>
		<div class="page-title-container">
			<div class="page-title">
				Opportunities
			</div>
		</div>
		<div class="parent-page">
			<div id="main_body"></div>
		</div>
	</div>
</div>


<script language="javascript">
	$(function(){
		
		console.log(gon.opportunities);
		
		var view_page = new Quota.Views.PageIndexOpportunities({opportunities: new Quota.Collections.Opportunities($.parseJSON(gon.opportunities)), vent: Quota.vent});
		$('#main_body').html(view_page.render().el);
	});	
	
	$.fn.placeholder();
</script>