@import "bootstrap";
body { padding-top: 0px; }

@import "bootstrap-responsive";
@import 'font-awesome';

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayMedium: #aaaaaa;
$grayDark: #333333;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

@mixin drop-shadow($color: #333333) {
  -moz-box-shadow: 0px 1px 2px $color;
  -webkit-box-shadow: 0px 1px 2px $color;
  box-shadow: 0px 1px 2px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}

@mixin shadow($color: #333333) {
  -moz-box-shadow: 0px 0px 2px $color;
  -webkit-box-shadow: 0px 0px 2px $color;
  box-shadow: 0px 0px 2px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}

@mixin inner-shadow($color: #333333) {
  -moz-box-shadow: inner 0px 0px 2px $color;
  -webkit-box-shadow: inner 0px 0px 2px $color;
  box-shadow: inner 0px 0px 2px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=-90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=-90, Color='$color');
}

@mixin full-inner-shadow($a, $b, $c, $color: #333333) {
  -moz-box-shadow: $a $b $c $color;
  -webkit-box-shadow: $a $b $c $color;
  box-shadow: $a $b $c $color;
}

@mixin no-inner-shadow() {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -ms-filter: none;
  filter: none;
}

@mixin full-shadow($a, $b, $c, $rgb_r, $rgb_g, $rgb_b, $rgb_a, $dir){
	-moz-box-shadow: $a $b $c rgba($rgb_r, $rgb_g, $rgb_b, $rgb_a) $dir;
	-webkit-box-shadow: $a $b $c rgba($rgb_r, $rgb_g, $rgb_b, $rgb_a) $dir;
	box-shadow: $a $b $c rgba($rgb_r, $rgb_g, $rgb_b, $rgb_a) $dir;
}

@mixin inherit-inner-shadow() {
  -moz-box-shadow: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  -ms-filter: inherit;
  filter: inherit;
}

$default_rounded_amount: 5px;
// Round corner at position by amount.
@mixin round-corner($position, $amount: $default_rounded_amount){
  border-#{$position}-radius: $amount;
  -webkit-border-#{$position}-radius: $amount;
}

@mixin round-corner-mozilla($position, $amount: $default_rounded_amount){
  -moz-border-radius-#{$position}: $amount;
}

// Round left corners by amount
@mixin round-left-corners($amount: $default_rounded_amount){
  @include round-corner("top-left", $amount);
  @include round-corner("bottom-left", $amount);
  @include round-corner-mozilla("topleft", $amount);
  @include round-corner-mozilla("bottomleft", $amount);
}

// Round right corners by amount
@mixin round-right-corners($amount: $default_rounded_amount){
  @include round-corner("top-right", $amount);
  @include round-corner("bottom-right", $amount);
  @include round-corner-mozilla("topright", $amount);
  @include round-corner-mozilla("bottomright", $amount);
}

// Round top corners by amount
@mixin round-top-corners($amount: 5px){
  @include round-corner("top-left", $amount);
  @include round-corner("top-right", $amount);
  @include round-corner-mozilla("topleft", $amount);
  @include round-corner-mozilla("topright", $amount);
}

// Round bottom corners by amount
@mixin round-bottom-corners($amount: $default_rounded_amount){
  @include round-corner("bottom-left", $amount);
  @include round-corner("bottom-right", $amount);
  @include round-corner-mozilla("bottomleft", $amount);
  @include round-corner-mozilla("bottomright", $amount);
}

// Round all corners by amount
@mixin round-corners($amount: $default_rounded_amount){
  border-radius: $amount;
  -moz-border-radius: $amount;
  -webkit-border-radius: $amount;
}

/* universal */

html {
  overflow-y: scroll;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  padding-top: 9px;
  font-family: 'Russo One', serif;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

.control-group{
	margin-bottom:0px;
}

.controls{
	margin-bottom:5px;
}

input, textarea, .uneditable-input, {
  border: 1px solid #bbb;
  width: 100%;
  padding: 5px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

select {
  border: 1px solid #bbb;
  width: 100%;
  padding: 3px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

.checkbox input[type="checkbox"] {
  float:none;
  padding: 5px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

label.required{
	font-weight:bold;
}

.input-min{
	width:60px;
}

.input-prepend, .input-append{
	margin-bottom:15px;
}

.input-append input{
	display:inline-block;
}

.input-append .add-on{
	height: 16px;
	line-height: 18px;
	min-width: 16px;
	padding: 4px 5px 5px;
	margin-left:-4px;
	color:#555;
}

.input-prepend .add-on{
	height: 16px;
	line-height: 18px;
	min-width: 16px;
	padding: 4px 5px 5px;
	margin-right:-4px;
	color:#555;
}



.control-group #probability{
	margin-left:-25px;
}

/* nav */
.navbar-inner{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.nav .nav-header {
  color: #999999;
  display: block;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  padding: 3px 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}


.cancel-link{
	font-size:11px;
	color:#FF0000;
	font-weight:normal;
	text-decoration:none;
}

/* page body */
.nav-body{
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	margin: 10px 0 10px 0;
	padding: 0 0 0 0;
}

.nav-body ul{
  list-style: none outside none;
  margin-left: 0;
  margin-bottom: 0;
}

.show-field{
	margin-bottom:10px;
	line-height:1.5em;
}

.show-field .show-label{
	font-weight:normal;
	color: $grayMedium;
}

.show-field .show-value{
	font-size:14px;
}

.section-heading{
	margin-bottom:10px;
}

.section-content{
	margin-bottom:50px;
}


.parent-page {
	border: 1px solid #ccc;
	padding: 10px;
}

.parent-page h3 {
	padding-bottom: 10px;
}

.child-page {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #ccc;
	margin-bottom: -30px;
	margin-right: -20px;
	padding: 10px;
	position: relative;
}

.child-page h3 {
	padding: 0px;
}

.page-label {
	padding: 5px;
	position: relative;
	top: -7px;
	left: -12px;
	
}


.subnav {
	margin-top: 10px;
	margin-bottom: 20px;
}

.document-title {
	margin-top: 10px;
	margin-bottom: 10px;
}

.row-clicked{
	background: #ddd;
}

.row-column-toggle{
	background: #ddd;
	@include round-top-corners(3px);
	padding:3px 10px;
	float:left;
}

.row-actions{
	background: #555;
	@include round-corners(3px);
	float:left;
	margin-right:5px;
	color:#ddd;
}

.row-actions i{
	padding:0px 8px;
	vertical-align:middle;
	
}

.table tbody tr.row-clicked:hover td{
	background-color: #ddd;
}


#items2 tbody tr td div, #items2 tbody tr td span{
	overflow: hidden;
	vertical-align:middle;
}

#items2 tbody tr td{
	vertical-align:middle;
}

.icon-resize-vertical{
	cursor: pointer;
}

.history-list{
	padding-left:0;
}




.contact_phone .contact_method_name, .contact_email .contact_method_name, .contact_url .contact_method_name, .contact_address .contact_method_name{
	margin-left: 5px;
	margin-right: 0px;
}

.contact_phone .contact_method_name input, .contact_email .contact_method_name input, .contact_url .contact_method_name input, .contact_address .contact_method_name input{
	text-align:right;
	border:1px solid #fff;
	margin-bottom:0px;
	@include no-inner-shadow;
	padding:2px;
}

.contact_phone .contact_method_val input, .contact_email .contact_method_val input, .contact_url .contact_method_val input, .contact_address .contact_method_address textarea, .contact_address .contact_method_address input{
	border:1px solid #fff;
	margin-bottom:0px;
	@include no-inner-shadow;
	padding:2px;
}

.contact_address .contact_method_address input{
	width:auto;
}

.contact_phone .contact_method_name input:focus, .contact_email .contact_method_name input:focus, .contact_url .contact_method_name input:focus, .contact_address .contact_method_name input:focus{
	text-align:right;
	border:1px solid #bbb;
	@include full-shadow(0, 1px, 1px, 0, 0, 0, 0.075, inset);
}

.contact_phone .contact_method_val input:focus, .contact_email .contact_method_val input:focus, .contact_url .contact_method_val input:focus, .contact_address .contact_method_address textarea:focus, .contact_address .contact_method_address input:focus{
	border:1px solid #bbb;
	@include full-shadow(0, 1px, 1px, 0, 0, 0, 0.075, inset);
}

.contact_phone .error .contact_method_val input, .contact_email .error .contact_method_val input, .contact_url .error .contact_method_val input{
	border:1px solid #B94A48;
}



.contact_method .contact_method_remove{
	float: left;
	height: 10px;
	padding: 3px;
	position: relative;
	top: 2px;
	width: 10px;
}

.contact_method .contact_method_remove i{
	position: relative;
	top: -2px;
	width: 1em;
}


.contact_method.no_remove{
	margin-left:10px;
}

.contact_type{
	display:inline-block;
	padding-right:20px;
}


.contact_method_address{
	display:inline-block;
	vertical-align:top;
}

.contact_method_address .span2, .contact_method_address .span3, .contact_method_address .span4{
	display:inline;
	border:1px solid #fff;
	margin-bottom:0px;
	@include no-inner-shadow;
	width:auto;
	padding:2px;
	min-height:0px;
}


