<div class="section-heading">
	<h3>Documents</h3>
</div>
<div class="section-content">
	<table class="table table-condensed table-plain">
		<thead>
			<tr>
				<th></th>
				<th>Type</th>
				<th>Name</th>
				<th>Created</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<div class="actions-bar-left">
		<a class="btn btn-primary" href="/documents/choose_template/{{opportunity.pub_key}}">
		  <i class="icon-plus"></i>&nbsp;&nbsp;Add a Document
		</a>
		<a class="cancel-link" href="#"><i class="icon-remove"></i>&nbsp;&nbsp;-&nbsp;&nbsp;I'm done adding documents</a>
	</div>
	<div class="section-form">
	</div>
</div>