<td>
	
</td>
<td>
	
</td>
<td>
	<a href="/documents/{{document.pub_key}}">{{document.name}}</a>
</td>
<td>
	{{document.created_at}}
</td>
<td><button class="btn btn-mini btn-danger document_remove">
  <i class="icon-remove"></i>
</button>
</td>