<div class="section-heading">
	<h3>Contacts</h3>
</div>
<div class="section-content">
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>Name</th>
				<th>Company</th>
				<th>Phone</th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<div class="actions-bar-left">
		<button type="submit" class="btn btn-primary">
		  <i class="icon-plus"></i>&nbsp;&nbsp;Add a Contact
		</button>
		<a class="cancel-link" href="#"><i class="icon-remove"></i>&nbsp;&nbsp;-&nbsp;&nbsp;I'm done adding contacts</a>
	</div>
	<div class="section-form">
	</div>
</div>
