<div class="search_results_table_header">
	<table class="table table-condensed table-plain">
		<thead>
			<tr>
				<th width="1%"></th>
				<th width="40%">Name</th>
				<th width="59%">Description</th>
			</tr>
		</thead>
	</table>
</div>
<div class="search_results_table_rows">
	
</div>