<div class="search_results_subcontainer">
	<div class="search_results_subcontainer_header row">
		<div class="span6">
			<i class="icon-chevron-down"></i> {{title}}
		</div>
		<div class="span6">
			<span class="badge">{{cnt}}</span>
		</div>
	</div>
	<div class="search_results_subcontainer_rows row">
		<table class="table table-condensed table-plain">
			<tbody>
			</tbody>
		</table>
	</div>
</div>