<td width="1%"></td>
<td width="10%"><span class="label">{{item.milestone.name}}</span></td>
<td width="9%">{{dateFormat item.created_at format="MMM Do"}}</td>
<td width="40%"><b>{{item.name}}</b><br>{{item.company.name}}</td>
<td width="40%">opportunity created<br>Jeremy Pastika</td>