<div class="search_results_table_header">
	<table class="table table-condensed table-plain">
		<thead>
			<tr>
				<th width="1%"></th>
				<th width="10%">Milestone</th>
				<th width="9%">Added</th>
				<th width="40%">Opportunity/Company</th>
				<th width="40%">Activity/Owner</th>
			</tr>
		</thead>
	</table>
</div>
<div class="search_results_table_rows">
	
</div>