<div class="search_results_subcontainer">
	<div class="search_results_subcontainer_header row">
		<div class="span3">
			<i class="search_results_subcontainer-chevron icon-chevron-up"></i> {{title}}
		</div>
		<div class="span9">
			<span class="badge badge-inverse">{{cnt}}</span>
		</div>
	</div>
	<div class="search_results_subcontainer_rows row">
		<table class="table table-condensed table-plain">
			<tbody>
			</tbody>
		</table>
	</div>
</div>