<div class="search_results_subcontainer">
	<div class="search_results_subcontainer_header">
		<div class="span4">
			<i class="search_results_subcontainer-chevron icon-chevron-up"></i> {{title}}<span class="badge badge-inverse pull-right">{{cnt}}</span>
		</div>
	</div>
	<div class="search_results_subcontainer_rows row">
		<table class="table table-condensed table-plain">
			<tbody>
			</tbody>
		</table>
	</div>
</div>