<div class="search_results_table_header">
	<table class="table table-condensed table-plain">
		<thead>
			<tr>
				<th width="1%"></th>
				<th width="4%">Primary</th>
				<th width="63%">Name</th>
				<th width="10%">PO</th>
				<th width="14%">Created</th>
			</tr>
		</thead>
	</table>
</div>
<div class="search_results_table_rows">
	
</div>