<div class="search_results_table_header">
	<table class="table table-condensed table-plain">
		<thead>
			<tr>
				<th width="1%"></th>
				<th width="30%">Name</th>
				<th width="12%">Manufacturer</th>
				<th width="37%">Description</th>
				<th width="10%">Part #</th>
				<th width="10%" class="align-right">Unit Price</th>
			</tr>
		</thead>
	</table>
</div>
<div class="search_results_table_rows">
	
</div>