<td width="1%"></td>
<td width="4%"><i class="icon-circle-blank"></td>
<td width="63%">{{item.name}}</td>
<td width="10%">{{item.po}}</td>
<td width="14%">{{dateFormat item.created_at format="MMM Do"}}</td>