@import 'font-awesome';
@import "variables";
@import "mixins";


/* universal */

/* universal */

.preview{
	background:#fff;
	font-family: 'Droid Sans',sans-serif;
	padding: 0px;
	margin:0;
}

.pdf{
	background:#fff;
	font-family: 'Droid Sans',sans-serif;
	font-size: smaller;
	padding: 0px;
	margin:0;
}
