<div class="header">
	<div class="logo-search-bar">
		<div class="logo">
			<%= link_to raw("Q<u>uota</u>"), dashboard_path, id: "logo", :class => "brand" %>
		</div>
	</div>
	<div class="navbar">
		<ul class="nav primary-nav">
			
		</ul>
	</div>
</div>