<header class="navbar">
	<div class="header row">
		<div class="header-right pull-right">
			<div class="">
				<ul class="nav alternate-nav">
					<li><%= link_to "Sign in", signin_path %></li>
				</ul>
			</div>
		</div>
		<div class="header-left">
			<div class="">
				<%= link_to raw("Q<u>uota</u>"), root_url, id: "logo", :class => "brand" %>
			</div>
			<div class="">
				<ul class="nav primary-nav">
					
				</ul>
				<div class="primary-nav-caret"></div>
			</div>
		</div>
	</div>
</header>