<div class="navbar">
	<div class="pull-left">
		<ul class="nav alternate-nav">
			<li><%= link_to "Sign in", signin_path %></li>
		</ul>
	</div>
	<div class="pull-right">
		<ul class="nav user-nav">
		</ul>
		<div class="user-nav-company-name">
			
		</div>
	</div>
</div>
